@import "tailwindcss";
*{
    font-family: "Noto Sans", sans-serif;
}
/* ------------spacific space------------ */
.spac{
    padding: 0 20vw;
}


/* --------------------nav comp-------------------- */

.rbo{
    height: 30px;
}

.i-size{
    height: 50px;
}

/* --------------------hero comp-------------------- */

/* laft */

.hero {
	background-image: linear-gradient(165deg,rgba(3, 111, 3, 0.894),#171717,#171717);
    padding:50px 30px;
}

.heroimg {
	height: 300px;
	border-radius: 1rem;
}

/* areatwo */
.lineclr{
    color: white;
}